*{
    margin: 0;
    padding:0;
}
body{
    background-color:aliceblue;
}
header{
    display: flex;
    height: 70px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(255,6,6,1) 100%);
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-nombre{
    font-family: monospace;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;

}

nav a{
    margin-right: 5px;
    padding: 15px;
}

nav a:hover{
    color: #000;
    background-color:#ffffff;
    transition: all 1s ease-in-out;
    border-radius: 10px;
}



h1.cmic{
 color: #000;   
 font-family:'Rubik Moonrocks', cursiva;
 font-size: 50px;
 justify-content:center;
 text-align:center;
 margin-left: 100px;
 margin-top: 20px;
}
.cmic2{
    color:#7a0606;
    font-size: 20px;
}
.padre{
    width: 1000px;
    height: 600px;
    justify-content: center;
    text-align: center;
margin-left: 300px;
}

.hijo p.cmic3{
    text-align: justify;
    font-style: italic;

 color: #000;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size:20px;
 font-weight: 500;


}
.contenedor-galeria{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin:auto;
}

.galeria__img{
    width: 2000px;
    height: 400px;
    margin-bottom:30px ;
    object-fit: cover;
    
}
.cmic4{
    color:#7a0606;
    font-size: 20px;  
}
.padre2{
    width: 500px;
    height: 400px;
    justify-content: center;
    text-align: center;
margin-left: 50px;
}

.hijo2 p.cmic5{
    text-align: justify;
    font-style: italic;

 color: #000;
 font-family:first-child;
 font-size:20px;
}

.cmic6{
    color:#7a0606;
    font-size: 20px;  
}
.padre3{
    width: 500px;
    height: 400px;
    justify-content: center;
    text-align: center;
margin-left: 50px;
}

.hijo3 p.cmic7{
    text-align: justify;
    font-style: italic;

 color: #000;
 font-family:first-child;
 font-size:20px;
 
}